<h1 class="text-center">This are your plans:
</h1>
<div class="form-wrapper" style="width: 400px; margin: 0 auto;">
  <% @bookings.each do |booking| %>
    <%= booking.plan.id %>
    <%= booking.plan.title %><br>
  <% end %>
  <p><%= link_to "Back to plans", plans_path %></p>
</div>
<br>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
