<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= asset_path("pexels-photo-896783.jpeg") %>');">
  <div class="banner-content">
    <h1>Have a nice plan</h1>
    <p>If you are alone in a new city join us</p>
    <%#= link_to "Book a plan", plans_path , class: "btn btn-primary btn-lg" %>

    <%= form_tag plans_path, method: :get, class: "form-inline" do%>
      <%= text_field_tag :query,
    params[:query],
    class: "form-control",
      placeholder: "Search"
      %>
      <%= submit_tag "Find a plan", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>
