.footer {
  background: #1f7a8c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 100px 50px;
  color: rgba(0,0,0,0.4);

}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.4;
  text-decoration: none;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: #fca311;
  opacity: 1;
}
.footer-links li {
  text-decoration: none;
  list-style:none;

}
.footer .fa-heart {
  color: rgba(0,0,0,0.4)
}
.fab{
  font-size: 30px;
  margin: 10px;

}
